


$light-purple: #beafe3;
$bright-green: #87e561;
$deep-red: #c6340a;
$pale-blue: #dbf3f6;
$black: black;
$white: #ffffff;



// Update Bulma's global variables
$body-family: "Ubuntu Mono", sans-serif;
$body-color: $light-purple;
$danger: $deep-red;
$primary: $deep-red;
$success: $bright-green;
$warning: $pale-blue;
$body-background-color: $black;
$is-white: $white;
$title-font-size: 3rem !important;
$subtitle-font-size: 2.5rem !important;
$list-style-type: none;
$info: $black;


// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.section.skills .box .content
.columns .column ul
  list-style: none
  margin-left: 0
  margin-top: 0

  div
  margin: 0
  border: 0
  vertical-align: baseline

  .container .is-narrow
  max-width: 1200px

  .section.call-to-action
  padding: 5rem 1.5rem 2rem
